.wrap {
  width: 100vw;
  padding: 1rem;
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  pre {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5rem;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    // npm : react-linkify for url link
  }
}
