.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 2px 2px;
  padding: 0px 30px;

  .logo {
    color: red;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-size: 1.2rem;
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  input {
    height: 30px;
    width: 40%;
    font-size: 1.1rem;
    transition: width 0.2s ease-in-out;
    &:focus {
      width: 70%;
    }
  }

  button {
    width: 36px;
    height: 36px;
  }
}
