.item {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  margin-bottom: 10px;

  ul {
    padding: 0px;
    list-style-type: none;
  }

  li:nth-child(2) {
    color: gray;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    // @todo i do not know responsive image height
    img {
      max-height: 400px;
      height: 350px;
    }
  }
}
